<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
    <script type="text/javascript" src="static/jquery.min.js"></script>

    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
<script type="text/javascript">
  $(function() {


    $(".slider").change(function(){
        var curslider_id = $(this).attr("id");
        var curslider_val = $(this).val();
        $.getJSON($SCRIPT_ROOT + '/_sliderchanged',
            { "cmd" : "transform", "name" : curslider_id, "value" : curslider_val },
            function(data) {
                $("p#" + curslider_id).text(data.val);
            });
    });
  });
</script>

   </head>

   <body>
      <a href="/home"><h1>Light control home</h1></a>
      <br>
      Brightness
      <br>
      Refresh Rate
      Speed for each transform
      <h2>Transforms</h2>
      <table>
      {% for t in ["brightness","randomize", "rotate", "xbounce", "ybounce"] %}
          <tr>
            <td> <p id={{ t }} > 0.0 </p> </td>
            <td>
                  <input id={{ t }} type="range" class="slider" value="0.0" min="0.0" max="1.0" step="0.01">
            </td>
            <td> {{ t }}</td>
          </tr>
      {% endfor %}
      </table>
      <a href=/transform?name=brightness&active=True> brightness on</a> <br>
      <a href=/transform?name=brightness&active=False> brightness off</a> <br>
      <a href=/transform?name=randomize&active=True> Randomize on</a> <br>
      <a href=/transform?name=randomize&active=False> Randomize off</a> <br>
      <a href=/transform?name=rotate&active=True> Rotate on</a> <br>
      <a href=/transform?name=rotate&active=False> Rotate off</a> <br>
      <a href=/transform?name=xbounce&active=True> X bounce on</a> <br>
      <a href=/transform?name=xbounce&active=False> X bounce off</a> <br>
      <a href=/transform?name=ybounce&active=True> Y bounce on</a> <br>
      <a href=/transform?name=ybounce&active=False> Y bounce off</a> <br>

      <h2> Cycle time in seconds </h2>
      {% for b in [0.5,1.0,2.0,4.0,8.0,16.0,32.0,64.0] %}
          <a href=/cycletime/{{ b }}>{{ b }}</a>
      {% endfor %}

      <br>
      <h2> Step time in seconds </h2>
        {% for b in [0.01,0.03,0.05,0.10,0.20,0.30,0.40,0.50,0.75,1.0,2.0,4,8,16] %}
          <a href=/steptime/{{ b }}>{{ b }}</a>
      {% endfor %}

      <br>
      <h2>Brightness</h2>
      <a href=/off>Off</a>
      {% for b in [0.001,0.01,0.03,0.05,0.10,0.20,0.30,0.40,0.50,0.75,1.0] %}
          <a href=/max/{{ b }}>{{ b }}</a>
      {% endfor %}
      <a href=/max/1.0 > Full brightness </a>
      <br>
   </body>
</html>

