<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <a href="/home"><h1>Light control home</h1></a>
      <h2>
      <a href=/off> Off lights</a><br>
      <a href=/stop> Stop lights</a><br>
      <a href=/start> Start lights</a><br>
      <a href=/faster> Faster </a><br>
      <a href=/slower> Slower </a>
      </h2>
      <br>
      <h2>Transforms</h2>
      <a href=/transform?name=solid&active=True> Solid on</a> <br>
      <a href=/transform?name=solid&active=False> Solid off</a> <br>
      <a href=/transform?name=randomize&active=True> randomize on</a> <br>
      <a href=/transform?name=randomize&active=False> randomize off</a> <br>
      
      <h2> Cycle time in seconds </h2>
      {% for b in [0.5,1.0,2.0,4.0,8.0,16.0,32.0,64.0] %}
          <a href=/cycletime/{{ b }}>{{ b }}</a>
      {% endfor %}

      <br>
      <h2> Step time in seconds </h2>
        {% for b in [0.01,0.03,0.05,0.10,0.20,0.30,0.40,0.50,0.75,1.0,2.0,4,8,16] %}
          <a href=/steptime/{{ b }}>{{ b }}</a>
      {% endfor %}

      <br>
      <h2>Brightness</h2>
      <a href=/off>Off</a>
      {% for b in [0.001,0.01,0.03,0.05,0.10,0.20,0.30,0.40,0.50,0.75,1.0] %}
          <a href=/max/{{ b }}>{{ b }}</a>
      {% endfor %}
      <a href=/max/1.0 > Full brightness </a>
      <br>
   </body>
</html>

