<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
    <! -- script type="text/javascript" src="static/jquery.min.js"><! -- /script>
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="static/jquery.mobile-1.4.5.css">
<link rel="stylesheet" href="static/laby.css">


<!-- Include the jQuery library -->
<script src="static/jquery-1.11.3.min.js"></script>

<!-- Include the jQuery Mobile library -->
<script src="static/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript">
  $(function() {
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    $(".intensityslider").change(function(){
        var curslider_id = $(this).attr("id");
        var curslider_val = $(this).val();
        $.getJSON($SCRIPT_ROOT + '/_sliderchanged',
            { "cmd" : "transform", "name" : curslider_id, "value" : curslider_val },
            function(data) {
                $("p#" + curslider_id).text(data.val);
            });
    });

    $(".speedslider").change(function(){
        var curslider_id = $(this).attr("id");
        var curslider_val = $(this).val();
        $.getJSON($SCRIPT_ROOT + '/_sliderchanged',
            { "cmd" : "transform", "name" : curslider_id, "value" : curslider_val },
            function(data) {
                $("p#" + curslider_id).text(data.val);
                $("#statusmsg").text( data.name + " set to " + data.val );
            });
    });

    $(".isactive").change(function(){
        $.getJSON($SCRIPT_ROOT + '/_isactivechanged',
            { "cmd" : "transform", "name" : $(this).val(), "active": $(this).is(":checked") })
    });

  });
</script>

   </head>

   <body>

      <a href="/m"><h3>Light control</h3></a>
    <div class="ui-field-contain">
        <label for="brightness" >brightness</label>
        <input id="brightness" type="range" class="intensityslider"
                      value="0.0" min="0.0" max="1.0" step="0.01"
                      data-highlight="true" >
    </div>

      {% for t in ["randomize", "rotate", "xbounce", "ybounce"] %}
    <div class="ui-field-contain">

            <label for={{ t + '_active' }} > {{ t }} </label>
          <input id={{ t + '_active' }} type="checkbox" name="active_transforms" class="isactive" value={{ t }}></input>
            <label for={{ t }} class="ui-hidden-accessible">{{ t }}</label>
            <input id={{ t }} type="range" class="speedslider"
                          value="0.0" min="-1.0" max="1.0" step="0.01"
                          data-highlight="true" ></input>
    </div>

      {% endfor %}
    <div>
        <p id="statusmsg"> </p>
    </div>

   </body>
</html>

